<launch>
                               <!-- Starting move_base node -->
  	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
                               <!-- common parameters of global costmap -->
    <rosparam file="$(find turtle_nav)/config/odom/costmap_common_params.yaml" command="load" ns="global_costmap" />
                               <!-- common parameters of local costmap -->
    <rosparam file="$(find turtle_nav)/config/odom/costmap_common_params.yaml" command="load" ns="local_costmap" />
                               <!-- local cost map parameters -->
    <rosparam file="$(find turtle_nav)/config/odom/local_costmap_params.yaml" command="load" />
                               <!-- global cost map parameters -->
    <rosparam file="$(find turtle_nav)/config/odom/global_costmap_params.yaml" command="load" />
                               <!-- base local planner parameters -->
    <rosparam file="$(find turtle_nav)/config/odom/base_local_planner_params.yaml" command="load" />
                               <!-- dwa local planner parameters -->
    <rosparam file="$(find turtle_nav)/config/odom/dwa_local_planner_params.yaml" command="load" />
                               <!-- move_base node parameters -->
    <rosparam file="$(find turtle_nav)/config/odom/move_base_params.yaml" command="load" />

    <!--  <rosparam file="$(find turtle_nav)/config/nav_obstacles_params.yaml" command="load" />-->
  </node>
  
</launch>
