<launch>
    <!-- Load the URDF/Xacro model of our robot -->
    <arg name="model" default="$(find turtle_description)/urdf/turtlebase/turtlebase.xacro" /> 
    <arg name="gui" default="true" />

    <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
    
    <!-- Publish the robot state -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    	<param name="publish_frequency" value="20.0"/>
    </node>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    	<param name="rate" value="20.0"/>
    </node>

    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtle_rviz)/rviz/view_turtle.rviz" required="true" /> -->
</launch>
